<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
	<style type="text/css">
		h1 {color: white; font-size: 1em; font-family: 'Droid Sans', sans-serif;}
		h1 {text-align: left; padding-left: 50px;}
		p {color: white; font-size: .5em; font-family: 'Droid Sans', sans-serif;}
		p {text-align: left;}
		button{border:none;
			text-align: center;
			width: 200px;}
			ul { list-style-type: none; 
				padding: 0; margin: 0;}
	</style>
</head>

<body bgcolor=white>

		<ul>
		<img src = "\static\img\Header.png" style = "width: 208px; height: 140px;">
		<li>
			<a href = "\restaurants">
				<button type = "button" style="background-color:#FF9000; color:white; padding-top: 20px;">  Restaurants Nearby</button>
			</a>
		</li>

		<li>
			<a href = "\stores">
				<button type = "button" style="background-color:#FFD300; color:white; padding-top: 20px;"> Grocery Brands</button>
			</a>
		</li>
		<li>
			<a href = "\sensitivity">
				<button type = "button" style="background-color:#FF4900; color:white; padding-top: 20px;"> Sensitivity Type</button>
			</a>
		</li>
		<li>
			<a href = "\search">
				<button type = "button" style="background-color:#00AF64; color:white; padding-top: 20px;"> Search All</button>
			</a>
		</li>
	</ul>
	</div>

</body>
</html>