<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
	<style type="text/css">
		button{border:none;
			text-align: center;
			width: 200px;}
		ul { list-style-type: none; 
			padding: 0; margin: 0;}
		#search
		{
			padding-top: 10px;
		}
	</style>
</head>

<body>
		<ul>
			<a href = "\menu">
				<img src = "\static\img\Profacts.png" style = "width: 208px; height: 27px;">
			</a>
			<li id = "search">
				<input type = "text">
				<button id = "go" type = "button" style="background-color:green; color:white; height: 20px; width:50px"> Go </button>
			</li>

</body>